.confirmation {
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    align-items: center;
    padding-top: 10rem;
    max-width: 1440px;
}
.confirmation p {
    line-height: 1.75em;
    font-size: 1.75em;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .confirmation {
        padding-bottom: 0;
        padding-top: 5em;
    }
    .confirmation p {
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0;
    }
    .confirmation {
        padding-bottom: 0;
    }
    .confirmation p {
        font-weight: bold;
        text-align: center;
    }
}
