header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: 1440px;
    padding-bottom: 20px;
  }

.header-logo {
  width: 221px;
  height: 55px;
  padding-top: 10px;
  }

@media only screen and (max-width: 480px) {
  header {
    display: block;
  }
  .header-logo {
    width: 7em;
    height: auto;
  }
}