.footerNav {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
.footer-background {
  background-color: #495E57;
}
.footerLogo {
  width: 150px;
  padding-left: 20px;
}
ul li, ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}
h6{
  color: #000000;
  text-indent: 30px;
}