.footerNav {
    display: flex;
    flex-direction: column;
}

.footer-background {
  background-color: #495E57;
}

.footerLogo {
    width: 150px;
    padding-left: 20px;
}
ul li {
  font-size: 15px;
}
ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}
h5{
  text-indent: 39px;
  font-weight: medium;
  margin-top: 5%;
}