.banner-container {
  background-color: #495E57;
}
.banner h1 {
  color: #F4CE14;
  padding-left: 30px;
}
.banner h2 {
  color: #FFFFFF;
  padding-left: 30px;
}
.banner p {
  color: #FFFFFF;
  padding-left: 30px;
  flex-wrap: balance;
  justify-content: left;
  word-spacing: 1px;
  line-height: 30px;
  padding-right: 30px;
  padding-top: 40px;
}
.banner img {
  display: flex;
  max-width: 766px;
}
.book {
  font-family: Karla;
  color: black;
}
.select {
  font-size: 20px;
  font-weight: medium;
}

.bookTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .banner {
    max-height: 517px;
  }
}