.banner-container {
  position: relative;
  height: auto;
  background-color: #495E57;
}
.image-container {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  flex-direction: column;
}
.hero-left {
    width: 100vw;
    background-color: #495E57;
    height: 300px;
}
.banner-image-mobile, .hero-right {
  height: 300px;
  width: 100vw;
  background-size: cover;
  background-image: url(./restaurant.jpg);
}
.banner h2 {
  color: #F4CE14;
  padding-left: 20px;
  padding-top: 20px;
}
.banner h3 {
  color: #FFFFFF;
  padding-left: 20px;
}
.banner p {
  color: #FFFFFF;
  padding-left: 20px;
  flex-wrap: balance;
  justify-content: left;
  word-spacing: 1px;
  line-height: 30px;
  padding-right: 30px;
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .image-container {
    flex-direction: row;
    display: flex;
  }
  .banner-image-mobile {
    display: none;
  }
  .banner-container {
    height: 517px;
    background-color: transparent;
  }
  .hero-left {
    width: 50vw;
    height: 517px;
  }
  .hero-right {
      height: 517px;
      width: 50vw;
  }
}